<div class="container">
  <div class="row">
    <div class="col-xs-10 align-self-center">
      <h1>Blog posts</h1>
      <ul class="list-group list-group-flush">
        <app-post-list [posts]="posts"></app-post-list>
      </ul>
    </div>
  </div>
</div>