<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
  <h3 class="d-inline" [ngStyle]="{color: getTitleColor()}">{{ postTitle }}</h3>
  <p class="d-inline float-right font-italic">{{ postDate | date: "short" }}</p>
  <p>{{ postContent }}</p>

  <button class="btn btn-outline-success" (click)="loveIt()">Love it!</button>
  <button class="btn btn-outline-danger ml-1" (click)="hateIt()">Hate it!</button>
  <p class="d-inline ml-2" [ngStyle]="{color: getTitleColor()}">{{ postLoveIts }}</p>
</li>